%tr{ :class => cycle('odd','')}
  %td &nbsp;
  %td
    = client.id
    - unless client.active
      %i{:style => "background-color : #{client.active ? '#fff' : '#fdd'}; padding: 3px;" }
        inactive 
  %td
    %b= link_to client.name, resource(@branch, @center, client)
  %td
    %ul.inline
      - lfc = client.loans_for_center(@center, @date)
      - lfc.each do |l|
        %li
          = (link_to l.short_tag, url_for_loan(l), :class => ((l.info ? l.info[:status] : l.get_status) rescue nil)) rescue nil
      - (client.loans - lfc).each do |l|
        %li
          = (link_to l.short_tag, url_for_loan(l), :class => "repaid") rescue nil

  %td
    = link_to 'edit', resource(@branch, @center, client, :edit)
    &nbsp;|&nbsp;
    = link_to 'new loan', resource(@branch, @center, client, :loans, :new)
