=partial :form
%table.report.nojs
  %thead
    %tr
      %th Branch
      %th Center
      %th Client
      %th Loan
      %th Principal Due
      %th Interest Due
      %th Fees Due
  - @data.each do |d|
    %tr
      %td
        = link_to d[:branch], url(:controller => :branches, :action => :show, :id => d[:branch_id])
      %td
        = link_to d[:center], url(:controller => :centers, :action => :show, :id => d[:center_id])
      %td
        = link_to d[:client], url(:controller => :clients, :action => :show, :id => d[:client_id])
      %td
        = link_to "loan", url(:controller => :loans, :action => :show, :id => d[:loan_id])
      %td
        = d[:principal_due].to_f
      %td
        = d[:interest_due].to_f
      %td
        = d[:fees_due_today].to_f